In [1]:
import pandas as pd
import datetime

In [2]:
file2_name = "daily_trading_info_2019-2020.xlsx"
file2 = pd.read_excel(file2_name, sheet_name = None)
company_index = []
company_index = list(file2.keys())[:]

In [3]:
from talib import abstract

In [4]:
pd.read_excel(company_index[0]+".xlsx")

,date,open,high,low,close,volume,ma5,ma10,ma15,ma20,...,slowk,slowd,upperband,middleband,lowerband,2crows,Doji Star,Harami Pattern,WILLR,Morning Star
0,2014-01-02,21.309999,21.700001,21.230000,21.459999,5096443,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,0
1,2014-01-03,21.400000,21.450001,20.370001,20.790001,9945683,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,0
2,2014-01-06,20.680000,20.680000,20.219999,20.240000,5171376,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,0
3,2014-01-07,20.100000,20.250000,19.860001,20.000000,5364241,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,0
4,2014-01-08,20.000000,20.389999,20.000000,20.230000,5186841,20.544000,NaN,NaN,NaN,...,NaN,NaN,21.597193,20.544000,19.490807,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,2020-03-25,24.600000,24.850000,24.500000,24.799999,7072723,24.400000,24.861,25.410000,25.6955,...,15.585406,12.583943,24.864930,24.400000,23.935070,0,0,0,-74.121432,0
1518,2020-03-26,24.620001,25.290001,24.580000,25.129999,8346083,24.577999,24.788,25.290000,25.6095,...,27.777766,18.368456,25.281749,24.577999,23.874250,0,0,0,-58.695678,0
1519,2020-03-27,25.320000,25.799999,25.150000,25.180000,8794212,24.716000,24.771,25.186000,25.5615,...,45.466011,29.609728,25.554341,24.716000,23.877658,0,0,0,-56.884042,0
1520,2020-03-30,25.150000,25.570000,24.950001,25.450001,8179292,24.980000,24.764,25.131333,25.5050,...,62.571097,45.271624,25.741788,24.980000,24.218212,0,0,0,-47.101418,0
1521,2020-03-31,25.500000,25.540001,25.150000,25.350000,5331630,25.182000,24.792,25.068667,25.4395,...,73.849048,60.628718,25.628032,25.182000,24.735967,0,0,0,-50.724620,0

In [5]:
df=pd.read_excel(company_index[0]+".xlsx")

In [6]:
inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"].astype(float)
}
# uses close prices (default)
#out1 = abstract.SMA(inputs, timeperiod=5)
#out2 = abstract.SMA(inputs, timeperiod=10)
#out3 = abstract.SMA(inputs, timeperiod=15)
out4 = abstract.SMA(inputs, timeperiod=20)
out5 = abstract.SMA(inputs, timeperiod=60)
out6 = abstract.MACD(inputs,fastperiod=12)
out7 = abstract.RSI(inputs,timeperiod=12)
out8 = abstract.STOCH(inputs, fastk_period=9, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
out9 = abstract.BBANDS(inputs, timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)

In [ ]:
#print(abstract.MACD)

In [ ]:
pd.DataFrame(out4, columns=["ma20"]).head(30)

In [ ]:
out1

In [ ]:
#pd.concat([df, pd.DataFrame(out4, columns=["ma20"])\
          #,pd.DataFrame(out5, columns=["ma60"]), pd.DataFrame(out6, columns=["ma240"])\
          #,pd.DataFrame(out7,index=["macd","macdsignal","macdhist"]).T\
          #,pd.DataFrame(out8, columns=["RSI"]).head(50)\
          #,pd.DataFrame(out9,index=["slowk","slowd"]).T], axis=1).head(50)

In [ ]:
#Starting calculating

In [ ]:
for w in range(0, len(company_index)):
    df = pd.read_excel(company_index[w]+".xlsx")
    inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"].astype(float)
    }
    # uses close prices (default)
    #out1 = abstract.SMA(inputs, timeperiod=5)
    #out2 = abstract.SMA(inputs, timeperiod=10)
    #out3 = abstract.SMA(inputs, timeperiod=15)
    out4 = abstract.SMA(inputs, timeperiod=20)
    out5 = abstract.SMA(inputs, timeperiod=60)
    out6 = abstract.MACD(inputs,fastperiod=12)
    out7 = abstract.RSI(inputs,timeperiod=12)
    out8 = abstract.STOCH(inputs, fastk_period=9, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
    out9=abstract.BBANDS(inputs, timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)
    a = pd.DataFrame(out4,columns=["20MA"])
    b = pd.DataFrame(out5,columns=["60MA"])
    c = pd.DataFrame(out6,columns=["MACD"])
    d = pd.DataFrame(out7,columns=["RSI"])
    e = pd.DataFrame(out8,columns=["KD"])
    f = pd.DataFrame(out9,index=["upperband","middleband","lowerband"]).T
    pd.concat([df , a , b, c , d , e , f], axis=1).to_excel(company_index[w]+".xlsx", \
                                              sheet_name = company_index[w], index=False)
    if(w%100==0):
        print(w)

In [ ]:
#Assign the features to the train file with labels

In [ ]:
train_set = pd.read_excel("strategy_results_train.xlsx")

In [ ]:
import copy

In [ ]:
dataset = copy.deepcopy(train_set)

In [ ]:
temp = []
for i in range(0, dataset.shape[0]):
# for i in range(0, 1):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = dataset.iloc[i][0].split("_")[0]
    trade_date    = dataset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    temp.append(list(df.iloc[lower_index, :]))

In [ ]:
pd.DataFrame(temp).to_excel("train_output.xlsx", index=False)

In [ ]:
#fitting

In [ ]:
testset=pd.read_excel("sampleSubmission.xlsx")

In [ ]:
testset.head()

In [ ]:
temp = []
for i in range(0, testset.shape[0]):
#for i in range(0, 1):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = testset.iloc[i][0].split("_")[0]
    trade_date    = testset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    if( lower_index == 0):
        temp.append(dash=["-","","","","","","","",""])
    else:
        temp.append(list(df.iloc[lower_index, :]))

In [ ]:
pd.DataFrame(temp).to_excel("test_output.xlsx", index=False)